<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545535659652-fofeaegcshb5tbgovps4jto638c98fb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545535659652-fofeaegcshb5tbgovps4jto638c98fb8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>545535659652-sibfmflh7pfn7ibtbjs7c0psdnlf7td9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgyxuAucWzsJHWlEOtd-7LMjGt6GTTjVE</string>
	<key>GCM_SENDER_ID</key>
	<string>545535659652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecampusNcfu</string>
	<key>PROJECT_ID</key>
	<string>ecampus-21f18</string>
	<key>STORAGE_BUCKET</key>
	<string>ecampus-21f18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545535659652:ios:94b0c8a7a770eb58717cd1</string>
	<key>DATABASE_URL</key>
	<string>https://ecampus-21f18.firebaseio.com</string>
</dict>
</plist>